<footer class="footer allButFooter sticky-bottom mt-auto bg-primary w-100 text-center p-2">
    <div class="container ">
      <span class="text-light">Copyright &copy; 2022, made by Devesh Mehara <br>The Spark Foundation</span>
    </div>
  </footer>
</body>
<style>
  .allButFooter {
  position: absolute;
  bottom: -57;
  width: 100%;
  height: 3.5rem;            /* Footer height */

}
</style>
</html>