<nav class="navbar sticky-top navbar-dark bg-primary d-flex justify-content #312eda!important ">

    <button
    type="button"
    class="btn btn-md btn-success fw-bold"
    > 
       <a class="navbar-brand" href="/"> HOME PAGE </a> 
    </button> 
    <button
    type="button"
    class="btn btn-md btn-success fw-bold"
    data-bs-toggle="modal"
    data-bs-target="#transferBackdropNav"
  >
    ADD CUSTOMER
  </button> 
     

</nav>
