<%-include("./partials/header") %> <%-include("./partials/navbar") %>

<div
  class="
    home-container
    container
    mt-4
    animate__animated animate__fadeIn animate__slow 
  "
>

 <div class="row">
    <h1 class="text-center">You having Low Balance !!!</h1>
  </div>

</div>

<%-include("./partials/footer") %>
